.main__button--register > .button__register {
  padding: 5px 20px 5px 20px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  border: 1px solid grey;
  color: black;
  border-radius: 0px;


  visibility: hidden;
}
.button__register:hover {
  background-color: red;

}
